In [34]:
# Data gestion
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
from sklearn.preprocessing import OneHotEncoder
# Pattern matching
import re

In [113]:
# Constantes
RNA_BASES = [["A"], ["U"], ["C"], ["G"]]
encoder = OneHotEncoder(handle_unknown='ignore', sparse_output=False).fit(RNA_BASES)

In [4]:
# Path to csv containing RNA sequence and reactivities
datapath = "./data/SN_filtered_data.csv"

In [8]:
rna_data = pd.read_csv(datapath, header=0, index_col=0)

In [9]:
# Visualize first rows in dataset
rna_data.head()

,sequence_id,sequence,experiment_type,dataset_name,reads,signal_to_noise,SN_filter,reactivity_0001,reactivity_0002,reactivity_0003,...,reactivity_error_0197,reactivity_error_0198,reactivity_error_0199,reactivity_error_0200,reactivity_error_0201,reactivity_error_0202,reactivity_error_0203,reactivity_error_0204,reactivity_error_0205,reactivity_error_0206
1,51e61fbde94d,GGGAACGACUCGAGUAGAGUCGAAAAACAUUGAUAUGGAUUUACUC...,2A3_MaP,15k_2A3,5326.0,1.933,1,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,25ce8d5109cd,GGGAACGACUCGAGUAGAGUCGAAAAACCUUGAUAUGGAUUUACUC...,2A3_MaP,15k_2A3,4647.0,2.347,1,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,07dcfb6d1965,GGGAACGACUCGAGUAGAGUCGAAAAACUUUGAUAUGGAUUUACUC...,2A3_MaP,15k_2A3,102843.0,11.824,1,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,e561cc042a4c,GGGAACGACUCGAGUAGAGUCGAAAAACGAUGAUAUGGAUUUACUC...,2A3_MaP,15k_2A3,7665.0,3.519,1,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,aa948762535f,GGGAACGACUCGAGUAGAGUCGAAAAACGCUGAUAUGGAUUUACUC...,2A3_MaP,15k_2A3,14018.0,3.219,1,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [148]:
def datatoOneHot(X, seqlen=206, col="sequence"):
    """X: pandas.Dataframe"""
    onehot_list = []
    for i, sequence in enumerate(X[col]):
        to_add = "X" * (seqlen - len(sequence))
        filled_sequence = sequence + to_add
        #
        procc_sequence = [[nbase] for nbase in filled_sequence]
        onehot_sequence = np.array(encoder.transform(procc_sequence))
        onehot_list.append(onehot_sequence)

    onehot_array = np.array(onehot_list)
    x, y, z = onehot_array.shape

    return onehot_array.reshape(x*y, z)

In [157]:
def datatoXY(dataframe, x_columns, y_columns):
    non_procc_X = dataframe[x_columns]
    non_procc_Y = dataframe[y_columns].fillna(0)
    #
    X = datatoOneHot(non_procc_X)  # [N*seqlen, 4]
    Y = non_procc_Y.values.reshape(-1, 1)  # [N*seqlen, 1]
    return X, Y

In [158]:
# Get columns name for X, and Y
X_cols = ["sequence"]
Y_cols = [colname for colname in rna_data.columns if re.match("^reactivity_[0-9]{4}$", colname)]

X, Y = datatoXY(dataframe=rna_data[:3],
                x_columns=X_cols,
                y_columns=Y_cols)

In [159]:
set(rna_data["sequence"].str.len())

{115, 155, 170, 177, 206}

In [190]:
def RNN_model():
    hidden_units = 32
    input_shape  = (4, 1)
    output_units  = 1
    model = Sequential()
    model.add(SimpleRNN(hidden_units, input_shape=input_shape, activation="sigmoid", return_sequences=True))
    model.add(Flatten())
    model.add(Dense(units=output_units))
    # Compile model
    model.compile(loss=keras.losses.MeanSquaredError(), metrics=['accuracy'], optimizer='adam')
    return model

In [177]:
print(f"{X.shape = } {Y.shape = }")

X.shape = (618, 4) Y.shape = (618, 1)

In [182]:
from keras.models import Sequential
from keras.layers import Dense
from keras.layers import Dropout
from keras.layers import SimpleRNN, GRU, LSTM, Flatten
from tensorflow.keras import optimizers
import keras

In [191]:
model = RNN_model()

In [192]:
history = model.fit(X, Y, epochs=3, batch_size=1)

Epoch 1/3
618/618 [==============================] - 1s 921us/step - loss: 0.1172 - accuracy: 0.5146
Epoch 2/3
618/618 [==============================] - 1s 952us/step - loss: 0.1143 - accuracy: 0.5146
Epoch 3/3
618/618 [==============================] - 1s 928us/step - loss: 0.1123 - accuracy: 0.5146